.coverage*
.flake8
.gitlab-ci.yml
.pre-commit-config.yaml
.git
.gitignore
.vscode
web/keys
web/ssh_socket
venv
README.md
LICENSE
.dockerignore
Dockerfile
web/tests
web/db.sqlite3*
build-requirements.txt
.pytest_cache
pytest.ini
**/__pycache__
