.coverage*
.flake8
.gitlab-ci.yml
.pre-commit-config.yaml
.git
.gitignore
.vscode
keys
ssh_socket
venv
README.md
LICENSE
.dockerignore
Dockerfile
tests
!/tests/functional_tests/db.sqlite3*
db.sqlite3*
build-requirements.txt
functional_tests
.pytest_cache
pytest.ini
**/__pycache__
