pytest==7.2.0
attrs==22.1.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
tomli==2.0.1

pytest-env==0.8.1

pytest-django==4.5.2

djangorestframework==3.14.0
asgiref==3.5.2
django==3.2.16
pytz==2022.6
sqlparse==0.4.3
typing-extensions==4.4.0

jsonformatter==0.3.2

pyunicore==0.11.0
PyJWT==2.6.0
certifi==2022.9.24
charset-normalizer==2.1.1
idna==3.4
requests==2.28.1
urllib3==1.26.12

psycopg2-binary==2.9.5
